extends ../layout
block content
    .content-panel.container
        .row
            .col-md-6.col-md-offset-2
                h3.page-header 产品详情
                dl.dl-horizontal
                    dt 产品信息:
                    dd #{product.msg}
                    dt 加工步骤:
                    dd #{product.jiagongbz}
                    dt 刀具寿命:
                    dd #{product.jiagongsl}
                    dt 刀具型号:
                    dd #{product.daojuxh}
                    //dd
                    //    button.btn.btn-danger.del.btn-xs(type="button",data-id="#{line._id}") 删除



