//业务线-需求列表
extends ../layout

block content
    //.container.col-sm-offset-2.col-md-9
    //    .row(style="margin-top:75px")
    //        form.form-inline(role="form",method="GET",action="/admin/all/issue/line")
    //            label.col-sm-3.col-sm-offset-1.control-label.text-right(style="height:34px;line-height:34px") 输入业务线名称关键词
    //            .col-sm-8
    //                input.form-control(style="width:400px",type="text",name="q")
    //                button.btn.btn-default(type="submit") 搜索
    .row.container.col-sm-offset-2.col-md-9(style="margin-top:50px;margin-left:230px;")
        .tabbable.view
            .tab-content(style="margin-top:10px")
                .tab-pane.active(id="panel-1")
                    table#data-table.allocatedList.table.table-hover.table-bordered.display(style="margin-top:10px;width:100%;cellspacing:0")
                        thead
                            tr
                                th 产品信息
                                th 加工步骤
                                th 刀具寿命
                                th 刀具型号
                                th 生产计划
                                th 刀具数量
                                th 添加计划
                        tbody
                        each product in products
                            tr(class="issue-id-#{product.msg}")
                                td #{product.msg}
                                td #{product.jiagongbz}
                                td #{product.jiagongsl}
                                td #{product.daojuxh}
                                td #{product.plan != null?product.plan: 0}
                                td #{(product.plan/product.jiagongsl).toFixed(2)}
                                td: a.btn.btn-success.btn-xs(href="/updateProduct/#{product.msg}/#{product.plan != null?product.plan: 0}") 添加
                    .span12
                        a#btnExport(href="#",download="") 下载数据到本地
                    //分页
                    .span12
                        ul.pagination
                            li
                                if q
                                    a(href="/productList?q=#{q}&?p=0")
                                        span(aria-hidden="true") &laquo;
                                        span.sr-only Previous
                                else
                                    a(href="/productList?p=0")
                                        span(aria-hidden="true") &laquo;
                                        span.sr-only Previous
                            - for (var i = 0; i < ((totalPage > 5) ? 5 : totalPage); i++){
                                if (currentPage == (i+1))
                                    li.active
                                        span #{currentPage}
                                else
                                    li
                                        if q
                                            a(href="/productList?q=#{q}&?p=#{i}") #{i+1}
                                        else
                                            a(href="/productList?p=#{i}") #{i+1}
                                - }
                            if(totalPage>5)
                                li
                                    a ...
                            li
                                if q
                                    a(href="/productList?q=#{q}&?p=#{totalPage-1}")
                                        span(aria-hidden="true") &raquo;
                                        span.sr-only Next
                                else
                                    a(href="/productList?p=#{totalPage - 1}")
                                        span(aria-hidden="true") &raquo;
                                        span.sr-only Next
                .tab-pane.active(id="panel-2",style="display:none")
                    #calendar(style="margin-top:10px;")
    link(href="/libs/fullcalendar/fullcalendar.min.css",rel="stylesheet")
    script(src="/libs/fullcalendar/moment.min.js")
    script(src="/libs/fullcalendar/fullcalendar.min.js")
    script(src="/libs/fullcalendar/zh-cn.js")
    script(src="/js/jquery.battatech.excelexport.js")
    script(src="/js/allIssueCalendar.js")

